// Fonts
$fontMain:'Raleway', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$fontCursive: 'Bona Nova', sans-serif;

// Media querys

$telephone:480px;
$tablet:768px;
$desktop:1024px;

// Colors
$primary:#5E311E;
$secondary:#C39C63;
$black:#000000;
$white:#FFFFFF;
$graylight:#eceeef;
$brownlight:#ebe7de;

// Units
$separation:5rem;
